* {
    box-sizing: border-box;
}

section,
.header {
    display: flex;
    justify-content: center;
}

heading,
img {
    padding: 5px;
}

main {
    padding: 25px;
}

.results-container {
    display: flex;
    width: 500px;
    margin: 0 auto;
}